@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #181818;
    color: white;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

.whole-container {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid-container{
    
}
.hidden{
    display: none;
}